.animations-fancy-list {
    li {
        animation-duration: 2s;
        animation-timing-function: ease-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-name: fancy-list;
    }

    @for $i from 1 to 15 {
        li:nth-child(#{$i}) {
            animation-delay: 0.2s * $i;
        }
    }
}

.animations-view-img {
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-name: view-img;

    &:hover {
    }
}
