.animations-fancy-list {
    li {
        animation-duration: 0.8s;
        animation-timing-function: ease-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-name: fancy-list;
    }

    @for $i from 1 to 15 {
        li:nth-child(#{$i}) {
            animation-delay: 0.1s * $i;
        }
    }
}

.animations-fancy-list-disapear {
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-name: fancy-list-disapear;
}
