@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css");
@-webkit-keyframes expand-and-square {
  0% {
    border-radius: 50%;
    background-color: red;
    width: 50px;
    height: 50px;
  }
  100% {
    border-radius: 0;
    background-color: yellow;
    width: 100px;
    height: 100px;
  }
}
@keyframes expand-and-square {
  0% {
    border-radius: 50%;
    background-color: red;
    width: 50px;
    height: 50px;
  }
  100% {
    border-radius: 0;
    background-color: yellow;
    width: 100px;
    height: 100px;
  }
}

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Prevent repositioning the web page beacuse of the scrollbar.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  overflow-y: scroll;
  /* 3 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px darkgray;
          box-shadow: inset 0 0 5px darkgray;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 8px;
}

::-moz-selection {
  color: #fff;
  background-color: #3E9DE1;
}

::selection {
  color: #fff;
  background-color: #3E9DE1;
}

body, * {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  font-size: 16px;
}

p {
  font-size: 16px;
  font-family: 'Lato';
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-style: 36px;
  line-height: 43px;
}

h2 {
  font-style: 26px;
  line-height: 30px;
}

h3 {
  font-style: 20px;
  line-height: 24px;
}

h4 {
  font-style: 18px;
  line-height: 21px;
}

h1 {
  font-style: 16px;
  line-height: 19px;
}

ol[class],
ul[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  font-family: 'Montserrat';
  font-size: 16px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  color: #585858;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #FF3E66;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.content-container {
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

@media (min-width: 900px) {
  .content-container {
    max-width: 1000px;
  }
}

@media (min-width: 1200px) {
  .content-container {
    max-width: 1290px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row--centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row--left-aligned {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.row--right-aligned {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.row--space-btw {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column--centered {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column--left-aligned {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.column--right-aligned {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.button {
  border: none;
  outline: none;
  border-radius: 100px;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  padding: 10px 22px;
  text-transform: uppercase;
}

.button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.site-header {
  background: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  color: #FF3E66;
}

.site-header .content-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr 50px;
      grid-template-columns: 50px 1fr 50px;
  grid-column-gap: 30px;
}

.site-header .site-nav {
  height: 100%;
}

.site-header-logo {
  width: 50px;
  padding: 10px 0;
}

.main {
  padding: 20px;
  color: #585858;
}

.main__title {
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 900px) {
  .main__title {
    grid-column: 1 / -1;
  }
}

.main__highlights {
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #f9f0a3;
  padding: 20px 10px;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.main__about .content-container {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: min-content min-content min-content min-content min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content min-content min-content min-content min-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
      grid-template-areas: "title" "highlights" "journey" "skills" "education" "address";
}

@media (min-width: 900px) {
  .main__about .content-container {
    -ms-grid-columns: 1fr 400px;
        grid-template-columns: 1fr 400px;
    -ms-grid-rows: min-content min-content min-content min-content;
        grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content;
        grid-template-rows: min-content min-content min-content min-content;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
        grid-template-areas: "title title" "highlights address" "journey skills" "education skills";
  }
}

.main__about-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  -ms-grid-column-align: center;
      justify-self: center;
}

.main__about-highlights {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: highlights;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #f9f0a3;
  padding: 20px 10px;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.main__about-education-img, .main__about-journey-img, .main__about-skills-img {
  width: 50px;
  margin: 20px;
}

.main__about-education-item, .main__about-journey-item, .main__about-skills-item {
  width: 100%;
  margin-bottom: 10px;
}

@media (min-width: 900px) {
  .main__about-education, .main__about-journey, .main__about-skills {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.main__about-journey {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: journey;
}

.main__about-education {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: education;
}

.main__about-address {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: address;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__about-skills {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: skills;
}

.main__courses .content-container {
  -ms-grid-columns: 400px;
      grid-template-columns: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 900px) {
  .main__courses .content-container {
    -ms-grid-columns: 400px 400px;
        grid-template-columns: 400px 400px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .main__courses .content-container {
    -ms-grid-columns: 400px 400px 400px;
        grid-template-columns: 400px 400px 400px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.site-nav__list {
  height: 100%;
}

.site-nav__list-item {
  height: 100%;
}

.site-nav__list-item:not(:last-child) {
  margin-right: 10px;
}

.site-nav__list-link {
  height: 100%;
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.23s ease-out;
  transition: color 0.23s ease-out;
}

.site-nav__list-link:hover {
  text-decoration: none;
  color: #FF3E66;
}

.course {
  max-width: 400px;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 20px 0;
  background-color: #00DAC3;
  -webkit-transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s ease-out;
  transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s ease-out;
  transition: transform 0.2s, box-shadow 0.2s ease-out;
  transition: transform 0.2s, box-shadow 0.2s ease-out, -webkit-transform 0.2s, -webkit-box-shadow 0.2s ease-out;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 250px 180px min-content;
      grid-template-rows: 250px 180px -webkit-min-content;
      grid-template-rows: 250px 180px min-content;
  border-radius: 4px;
}

.course:hover {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.course__header {
  background-color: #fff;
  overflow: hidden;
}

.course__header-title {
  text-align: center;
  text-transform: uppercase;
}

.course__info {
  padding: 10px 30px;
}

.course__footer {
  padding: 0 30px;
}

.skill-set__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  background-color: #FF3E66;
  border: none;
  border-radius: 100px;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  padding: 5px 22px;
  margin: 10px 0;
  text-transform: uppercase;
}

.skill-set__list-item {
  margin: 10px 0;
}

.no-margin {
  margin: 0;
}

.hidden {
  display: none;
}
