.main {
    padding: 20px;
    color: $text-color;

    [class*="__title"],
    [class*="-title"],
    [class*="__info"] {
        justify-self: center;

        @include for-tablet-landscape-up {
            grid-column: 1 / -1;
        }
    }

    [class*="-highlights"],
    [class*="__highlights"] {
        justify-self: center;
        background-color: #f9f0a3;
        padding: 20px 10px;
        box-shadow: $secondary-shadow;
        border-radius: $primary-rad;
    }

    [class*="-icon"] {
        width: 50px;
        margin: 30px;
    }

    [class*="-entry"] {
        width: 100%;
        margin-bottom: 10px;
    }

    &__about {
        .content-container {
            grid-template-rows: min-content min-content min-content min-content min-content min-content;

            grid-template-areas:
                "title"
                "highlights"
                "journey"
                "skills"
                "education"
                "address";

            @include for-tablet-landscape-up {
                grid-template-columns: 1fr 400px;
                grid-template-rows: min-content min-content min-content min-content;

                grid-template-areas:
                    "title title"
                    "highlights address"
                    "journey skills"
                    "education skills";
            }
        }

        &-title {
            grid-area: title;
        }

        &-highlights {
            grid-area: highlights;
        }

        &-journey {
            grid-area: journey;

            @include for-tablet-landscape-up {
                justify-content: space-between;
            }
        }

        &-education {
            grid-area: education;

            @include for-tablet-landscape-up {
                justify-content: space-between;
            }

            .text-like-list {
                li {
                    opacity: 0;
                }
            }

            //certificate-list toggle logic
            .certificate-trigger {
                width: fit-content;
                cursor: pointer;
                position: relative;

                &:after {
                    content: "▼";
                    display: inline;
                    font-size: 10px;
                    position: absolute;
                    top: 0;
                    right: -10px;
                }
            }

            #certificateToggle {
                display: none;
                pointer-events: none;
                position: absolute;
            }

            #certificateToggle + .text-like-list {
                display: none;
            }

            #certificateToggle:checked + .text-like-list {
                display: block;
            }
        }

        &-address {
            grid-area: address;
            min-height: 135px;
            justify-content: space-between;
            width: 100%;
            background-color: #f9f0a3;
            padding: 20px 10px;
            box-shadow: $secondary-shadow;
            border-radius: $primary-rad;

            @include for-tablet-landscape-up {
                min-height: 95px;
                padding: 0;
                background-color: #fff;
                box-shadow: none;
                border-radius: none;
            }
        }

        &-skills {
            grid-area: skills;

            @include for-tablet-landscape-up {
                justify-self: start;
            }
        }
    }

    &__courses {
        .content-container {
            @include for-tablet-landscape-up {
                grid-template-columns: 400px 400px;
                justify-content: space-between;
                align-items: start;
            }

            @include for-desktop-up {
                grid-template-columns: 400px 400px 400px;
                justify-content: space-between;
            }
        }
    }

    &__experience {
        .content-container {
        }
    }

    &__projects {
        .content-container {
        }

        p {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}
