.main {
    padding: 20px;
    color: $text-color;

    &__title {
        justify-self: center;

        @include for-tablet-landscape-up {
            grid-column: 1 / -1;
        }
    }

    &__about {
        .content-container {
            grid-template-columns: 1fr;
            grid-template-rows: min-content min-content min-content min-content min-content min-content;
            justify-content: center;

            grid-template-areas:
                "title"
                "highlights"
                "journey"
                "skills"
                "education"
                "address";

            @include for-tablet-landscape-up {
                grid-template-columns: 1fr 500px;
                grid-template-rows: min-content min-content min-content min-content;
                justify-content: space-between;

                grid-template-areas:
                    "title title"
                    "highlights address"
                    "journey skills"
                    "education skills";
            }

            @include for-desktop-up {
            }
        }

        &-title {
            grid-area: title;
            justify-self: center;
        }

        &-highlights {
            grid-area: highlights;
        }

        &-education,
        &-journey,
        &-skills {
            @include for-tablet-landscape-up {
                justify-content: flex-start;
            }

            &-img {
                width: 50px;
                margin: 20px;
            }

            &-item {
                width: 100%;
                margin-bottom: 10px;
            }
        }

        &-journey {
            grid-area: journey;
        }

        &-education {
            grid-area: education;
        }

        &-address {
            grid-area: address;
            min-height: 135px;
            justify-content: space-between;
            width: 100%;
            background-color: #f9f0a3;
            padding: 20px 10px;
            box-shadow: $secondary-shadow;
            border-radius: $primary-rad;

            @include for-tablet-landscape-up {
                min-height: 95px;
                padding: 0;
                background-color: #fff;
                box-shadow: none;
                border-radius: none;
            }
        }

        &-skills {
            grid-area: skills;
        }
    }

    &__courses {
        .content-container {
            grid-template-columns: 400px;
            justify-content: center;

            @include for-tablet-landscape-up {
                grid-template-columns: 400px 400px;
                justify-content: space-between;
                align-items: start;
            }

            @include for-desktop-up {
                grid-template-columns: 400px 400px 400px;
                justify-content: space-between;
            }
        }
    }
}
