.site-header {
    background: #fff;
    box-shadow: $primary-shadow;
    color: $primary-color;

    .content-container{
        display: grid;
        grid-template-columns: 50px 1fr 50px;
        grid-column-gap: 30px;
    }

    .site-nav{
        height: 100%;
    }

    &-logo {
        width: 50px;
        padding: 10px 0;
    }
}
