.project {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &__title {
        text-align: center;
    }

    &__icon {
        width: 50px;
        margin: 20px;
    }

    &__media {
        margin: 20px 0;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
        justify-items: center;
        align-items: start;
        justify-content: space-between;
        position: relative;

        @include for-tablet-landscape-up {
            grid-template-columns: 1fr 1fr 1fr;
        }

        &--mobile {
            @include for-tablet-landscape-up {
                grid-template-rows: min-content 1fr;
                grid-template-columns: repeat(8, 100px);
            }

            @include for-desktop-up {
                grid-template-columns: repeat(12, 100px);
            }
        }

        &:hover {
        }

        &-img {
            max-width: 300px;
            border-radius: $primary-rad;
            box-shadow: $secondary-shadow;
            overflow: hidden;
        }

        &-img:not(:nth-child(2)) {
            display: none;

            @include for-tablet-landscape-up {
                display: block;
            }
        }
    }
}
