.skill-set {
    &__title {
        width: fit-content;
        color: #fff;
        background-color: $primary-color;
        border: none;
        border-radius: 100px;
        box-shadow: $secondary-shadow;
        padding: 5px 22px;
        margin: 10px 0;
        text-transform: uppercase;
    }

    &__list {
    }

    &__list-item {
        margin: 10px 0;
    }
}
