.course {
    max-width: 400px;
    padding: 20px 0;
    box-shadow: $secondary-shadow;
    border-radius: $primary-rad;
    background-color: $course-color;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s ease-out;

    display: grid;
    grid-template-rows: 250px 180px min-content;

    &:hover {
        transform-origin: center;
        transform: scale(1.01);
        box-shadow: $hover-shadow;
    }

    &__header {
        background-color: #fff;
        overflow: hidden;

        &-title {
            text-align: center;
            text-transform: uppercase;
        }
    }

    &__info {
        padding: 20px 30px;

        &-focus {
            span {
                font-size: 18px;
                font-size: 900;
                margin-bottom: 5px;
                text-decoration: underline;
            }
        }

        &-scope {
            &--first {
                font-size: 18px;
                font-size: 900;
                margin-bottom: 5px;
                text-decoration: underline;
            }

            li {
                font-family: "Lato";
            }
        }

        &-link {
            margin: 20px 0;

            a {
                color: $primary-color;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }

    &__footer {
        padding: 0 30px;
    }

    &--current {
        grid-template-rows: 250px min-content min-content;

        .course__info-scope,
        .course__info-link {
            display: block;
        }
    }
}
