@keyframes fancy-list {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes view-img {
    0% {
        width: 300px;
        opacity: 0;
    }

    100% {
        position: relative;
        top: 50px;
        left: 500px;
        width: 1000px;
        opacity: 1;
        transform: translateX(-300px);
    }
}
